* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginform {
  width: 350px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.859);
  border: none;
  border-radius: 10px;
  position: relative;
  opacity: 0.75;
}

.loginform .inputfield {
  padding: 5px;
  margin-left: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  height: 23px;
  width: 230px;
}
.loginform .usr {
  margin-top: 30px;
}

.login {
  background: #0066a2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100px;
  font: bold15px arial, sans-serif;
  text-shadow: none;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 34%;
}

.login:hover {
  background: #ff5050;
  transform: translateY(-1px);
}

@media (max-width: 1050px) {
  .main {
    gap: 15px;
    margin-left: 20%;
  }
  .title {
    font-size: 22px;
    padding-bottom: 0px;
    margin: 0;
  }
}
@media (max-width: 900px) {
  .main {
    flex-direction: column;
    gap: 30px;
    margin-left: 20%;
    margin-top: 20%;
  }
  .title {
    font-size: 22px;
    padding-bottom: 0px;
    margin: 0;
  }
}
