.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar img:hover {
  cursor: pointer;
  transform: translateY(-1px) translateX(1px);
}

/* @media (max-width: 600px) {
  .avatar img {
    margin-right: 0px;
  }
} */
